{
  "plugins": [
    "@typescript-eslint",
    "jest",
    "jsdoc",
    "import",
    "n",
    "promise"
  ],
  "extends": [
    "standard",
    "plugin:@typescript-eslint/recommended",
    "plugin:jsdoc/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "jest/globals": true
  },
  "settings": {
    "import/extensions": [
      ".ts"
    ],
    "import/ignore": [
      "node_modules",
      "coverage"
    ]
  },
  "rules": {
    "semi": "error"
  }
}
