{
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "jest",
    "jsdoc",
    "import",
    "promise"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:jest/recommended",
    "plugin:jsdoc/recommended"
  ],
  "rules": {
    "indent": [
      "error",
      2
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "always",
        "asyncArrow": "always"
      }
    ],
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "semi": [
      2,
      "never"
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "path": [
          "src"
        ]
      }
    },
    "import/extensions": [
      ".ts"
    ],
    "import/ignore": [
      "node_modules",
      "dist"
    ]
  },
  "ignorePatterns": "*.spec.ts"
}
